.wrap {
    width: 100%;
    height: 800px;
    background-color: #f3a8a8;
}
.container {
    height: 40%;
    width: calc(100%/2);
    margin: 0 auto;
    transform: translate(0px,93px);
    background-color: antiquewhite;
    overflow: hidden;
}
.img-parent{
    width: 100%;
    height: 100%;
    color: white;
    background-image: url(https://images.pexels.com/photos/251603/pexels-photo-251603.jpeg?w=940&h=650&auto=compress&cs=tinysrgb);
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(1.8); 
    transition:transform 0.35s;
}
.img-base {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.panel {
	opacity: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: center; 
    border: 1px solid #ffffff; 
    background-color: rgba(220, 72, 98, 0.47);
    transform: scale(1.4); 
    transition: opacity 0.35s,transform 0.35s;
    margin: 0 auto;
    padding-top: 75px;
}
.panel-border {
    display: inline-block;
    height: 53%;
    width: 80%;
    border: 1px solid white;
}
.panel.open{	
    transform: scale(1.1);
    opacity: 1;
}
.img-parent.open{
    transform: scale(1.1);
}
.content {
    font-size: 14px;
}
