body {
	background-color: #ecf0f1;
	margin: 20px;
	font-family: Arial, Tahoma; 
	font-size: 20px; 
	color: #666666; 
	text-align: center;	
}
p { 
	color: #ffffff; 
}


.box{ 
	width: 32%; 
}

.wrap{ 
	width: 980px; 
	margin: 0 auto;  
}

.panel {
	margin: 0 auto;
	height: 130px;  
	position: relative;
}

.panel .front,
.panel .back {
	text-align: center;
}
	
.panel .front {
	height: inherit;
	position: absolute;
	top: 0;
	z-index: 900;
	text-align: center;
	transform: rotateX(0deg) rotateY(0deg);
	transform-style: preserve-3d;
	backface-visibility: hidden;
	transition: all .4s ease-in-out;
}

.panel .back {
	height: inherit;
	position: absolute;
	top: 0;
	z-index: 1000;
	transform: rotateY(-180deg);
	transform-style: preserve-3d;
	backface-visibility: hidden;
	transition: all .4s ease-in-out;
}
.panel.flip .front {
	z-index: 900;
	transform: rotateY(180deg);
}
.panel.flip .back {
	z-index: 1000;
	transform: rotateX(0deg) rotateY(0deg);
}
.base1{
	background-color: #ffffff;
	width: 250px;
	height: 150px;
	margin: 0 auto;
	padding: 20px;
	
}
.base2{
	background-color: #ff7e70;
	width: 250px;
	height: 150px;
	margin: 0 auto;
	padding: 20px;
	
}