.subwrap {
    display: block;
    font-family: 'Josefin Sans', sans-serif;
}
.popup-window {
    width: 300px;
    height: 300px;
    background: rgba(51, 51, 51, 0.35);
    margin: 0 auto;
   /* opacity: 0.4;*/
    display: none;
}
.open{
    display: block;
}
.close{
    display: none;
}
.side-area {
    width: 100%;
    height: 100%;
   /* display: inline-flex;
    align-items: center;
    justify-content: center;*/
}
.side-area .fa.fa-times {
    padding: 0px;
    padding-top: 5px;
    padding-right: 11px;
}
.close-icon {
    text-align: right;
}
.main-content {
    width: 50%;
    height: 50%;
    margin: 53px auto;
    background-color: white;
}
.header {
   width: 100%;
    background-color: #e4d9d9;
    border-bottom: 1px solid black;
    text-align: center;
    display: inline-block;
    height: 40px;
    color: black;
    font-weight: 600;
}
.header p{
    display: inline-block;
    margin: 0;
    padding: 12px;


}
.inner-content {
    display: inline-block;
    padding: 1px;
    margin: 0;
    text-align: center;
}

.inner-content p {
    margin: 0;
    padding: 1px;
}

.popup-button {
    width: 106px;
    height: 35px;
    background-color: #3364bb;
    display: inline-block;
    color: white;
    margin-top: 31px;
    margin-left: 63px;
}

.popup-button p {
    margin: 0 auto;
    padding-top: 9px;
    padding-left: 14px;
}
