img{
	/*height: 200px;*/
	width: 200px;
}
.container{
 /*   text-align: center;
        height: 500px;
    background-color: yellowgreen;
    position: relative;*/
    margin: 0 auto;
    height: 200px;  
    position: relative;
    background-color: yellowgreen;
    -webkit-perspective: 600px;
    -moz-perspective: 600px;
}
.back {
   /* height: inherit;
    position: absolute;
    top: 0;
    z-index: 1000;
    transform:  rotateY(-180deg);
    
    backface-visibility: hidden;
    transition: all 800ms;
    transform-style: preserve-3d;*/
    height: inherit;
    position: absolute;
    top: 0;
    z-index: 1000;
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
   
}
.front {
    /*height: inherit;
    position: absolute;
    top: 0;
    z-index: 900;
    transform: rotateX(0deg) rotateY(0deg);;
    backface-visibility: hidden;
    
    transition: all 800ms;
    transform-style: preserve-3d;
    cursor: pointer;
   */
   height: inherit;
    position: absolute;
    top: 0;
    z-index: 900;
    text-align: center;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
       -moz-transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
       -moz-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.container.result_hover .front:hover{
       /*transform: rotateY(180deg);
       z-index: 900;*/
    z-index: 900;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
}
.container.result_hover .back:hover{
   /*  transform: rotateX(0deg) rotateY(0deg);
     z-index: 1000;
    */
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
   
}
